@import '../../../../assets/scss/colors';

.title-container {
  width: 100%;
  font-size: 0.8em;
  text-transform: uppercase;
  padding: 0 1rem;

  .row-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    .title {
      width: 100%;
      font-weight: 300;
      margin: 0;

      .title-bold {
        font-weight: 700;
      }
    }

    .candidate-name {
      display: none;
      width: 100%;
      margin: 0;
      font-weight: 300;
      text-align: right;
    }
  }

  hr.line-divider {
    display: block;
    border: 0;
    height: 0.25rem;
    background-color: $color-primary;
    width: 88px;
    margin-left: 0;
    margin-top: 0.125rem;
  }
}

@media screen and (min-width: 768px) {
  .title-container {
    font-size: 1.25em;
    padding: 0 2.625rem;

    .row-title {
      .candidate-name {
        display: block;
      }
    }
  }
}
